<div class="jumbotron">
        <h1>Hi Students!</h1>
        <p class="lead">Welcome to Lecture Interaction Board</p>
        <%= link_to 'Open Board', posts_path, :class => 'btn btn-large btn-success'%>
        <h3 id="logo"></h3>
</div>